<ion-content padding no-bounce>

  <ion-slides (ionSlideDidChange)="slideChanged()" [ngClass]="{'slide0':currentIndex == 0, 'slide-any': currentIndex !=0}">
    <ion-slide>
      <div class="slide0-margin" class="container" *ngIf="view == '1'">
        <ion-list no-lines>
          <ion-item>
            <ion-label>
              {{ "LOGINPAGE.LABEL" | translate }}
            </ion-label>
          </ion-item>

          <ion-grid>
            <form>
              <ion-row>
                <ion-col col-10>
                  <ion-input class="text-input" (ionChange)=" errorMsg='' " [(ngModel)]="password" clearInput type="number" pattern="[0-9]*"
                    placeholder="Access PIN/Passcode" name="pass" required></ion-input>
                </ion-col>
                <ion-col col-2 class="searchBtn">
                  <button ion-button clear small float-right (click)="navigateToNote()" [disabled]="password === ''">
                    <ion-icon name="search"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
              <span *ngIf="errorMsg">{{errorMsg}}</span>
            </form>
          </ion-grid>
        </ion-list>
      </div>
    </ion-slide>

    <ion-slide>
      <section>
        <alert-view [text]=" 'NOTICE.MSG' | translate" [buttonText]="'OK'" (buttonClick)="nextTerms()">
        </alert-view>
      </section>

    </ion-slide>
    <ion-slide class="terms">
      <ion-scroll scrollY="true" class="scrollable">
        <p> {{termsOfUse}}</p>
      </ion-scroll>
      <ion-list>
        <ion-item no-lines>
          <button ion-button  item-start (click)="disagree()">
            Disagree
          </button>
          <button ion-button  item-end (click)="navigateToProcess()">
            Agree
          </button>
        </ion-item>
      </ion-list>

      <!-- <ion-scroll scrollY="true">
       {{termsOfUse}}
      </ion-scroll> -->

    </ion-slide>

  </ion-slides>

  <section *ngIf="view == '2' && this.currentIndex == 0">
    <alert-view [text]="txt" [buttonText]="'OK'" (buttonClick)="reset()"></alert-view>
  </section>

  <ion-fab right bottom #fab *ngIf="currentIndex == 0">

    <img ion-fab src="assets/imgs/menu.png">
    <span> {{ "FABMENU.LABEL" | translate }} </span>
    <ion-fab-list side="top">
      <button ion-fab (click)="fabButton.showPrivacy(fab)">
        <ion-label> {{ "ALERT_MSG.PRIVACY_CONTENT" | translate }} </ion-label>
      </button>
      <button ion-fab (click)="fabButton.showContact(fab)">
        <ion-label> {{ "ALERT_MSG.CONTACT_INFORMATION" | translate }} </ion-label>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer no-border>
  <ion-item no-lines>
    <ion-thumbnail item-start>
      <img src="assets/imgs/lilly-logo.png">
    </ion-thumbnail>
    <p> {{ "FOOTER.ADDRESS" | translate }} </p>
    <!-- <button ion-button clear item-end (click)="navigateToProcess()" *ngIf="next == 'active'">
      <span>{{ "ALERT_MSG.OK" | translate }}</span>
      <div class="nextIcon"></div>
    </button> -->
  </ion-item>
</ion-footer>