page-login {
    ion-content{

        background:url("../assets/imgs/bg.png");
        background-size: contain;

        section{
            position: absolute;
            left: 5%;
            right: 5%;
            bottom: 35%;
            margin: 0 auto;
             position: absolute;
           left: 5%;
           right: 5%;
           bottom: 35%;
           margin: 0 auto;

           alert-view section div{
               text-align: center;
           }
        }
       .container {
           position: absolute;
           left: 5%;
           right: 5%;
           bottom: 35%;
           margin: 0 auto;

           ion-label{
               white-space: pre-line !important;
               color: white;
           }
           input[type=number] {
            -webkit-text-security: disc;
        }

           ion-item{
               background: transparent !important;
               padding: 5px;
           }

           ion-row{
               background: black !important;
               border-radius: 6px;
               color: white;

               .text-input::placeholder {
                   color: white;
                   font-weight: bold;
                 }
                 .searchBtn{
                    display: flex;
                    align-items: center !important;
                    justify-content: center !important;
                 [ion-button]{
                 text-decoration: none;
                 color: white !important;
                 border-radius: 20% !important;
                 background: linear-gradient(top, #c91640 43%,#f00038 );
                 ion-icon{
                     font-weight: bold;
                 }
                 }
                }
           }
       }

       span{
           color: white;
       }

       .fab{
        background-color: transparent;
        border-radius: 0px !important;
        top: 8px !important;
        width: 32px;
        height: 33px;
    }
    ion-fab-list {
        margin: 36px -61px;
        position: absolute;
        background: white;
        border-radius: 5px;
        color: white !important;
        width: -webkit-fill-available;
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100px;

        span{
            color: black !important;
            text-align: center;
        }
        .fab-in-list{
            width: auto !important;
            color: black;
        }
        .fab-in-list.show{
            background: transparent;
        }
    }
   
}

ion-footer{
    
    background: transparent !important;
    height: 50px;
    color: white !important;
    ion-item{
        background: transparent !important;   
        
        ion-thumbnail{
            min-width: 80px !important;
            min-height: 0px !important;
            img{
                width: 80px !important;
                height: auto !important;
            }
        }
        p{
            color: white !important;
            white-space: normal;
            font-size: 8px !important; 
        }
    }

}
}
