page-login {
    ion-content{

        background:url("../assets/imgs/bg.png");
        background-size: contain;
       .container {
           position: absolute;
           left: 5%;
           right: 5%;
           bottom: 35%;
           margin: 0 auto;

           ion-label{
               white-space: pre-line !important;
               color: white;
           }
           input[type=number] {
            -webkit-text-security: disc;
        }

           ion-item{
               background: transparent !important;
               padding: 5px;
           }

           ion-row{
               background: black !important;
               border-radius: 6px;
               color: white;

               .text-input::placeholder {
                   color: white;
                   font-weight: bold;
                 }
                 .searchBtn{
                    display: flex;
                    align-items: center !important;
                    justify-content: center !important;
                 [ion-button]{
                 text-decoration: none;
                 color: white !important;
                 border-radius: 20% !important;
                 background: linear-gradient(top, #c91640 43%,#f00038 );
                 ion-icon{
                     font-weight: bold;
                 }
                 }
                }
           }
       }

       span{
           color: white;
       }
   
}

ion-footer{
    
    background: transparent !important;
    height: 50px;
    color: white !important;
    ion-item{
        background: transparent !important;   
        
        ion-thumbnail{
            min-width: 80px !important;
            min-height: 0px !important;
            img{
                width: 80px !important;
                height: auto !important;
            }
        }
        p{
            color: white !important;
            white-space: normal;
            font-size: 8px !important; 
        }
    }

}
}
