page-fab-detail {
    ion-content{
        .sec-contain{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction:column;
            width: 100% !important;
            height: 100% !important;
            .head-contain{
                width: 100%;
                text-align: center;
                color: white;
                border: 2px solid #ea1919;
                background: rgba(162, 5, 5, 0.5);
                font-size: 21px;
            }
            section{
                background: rgba(162, 5, 5, 0.5);
                width: 100%;
                min-height: 30%;
                max-height: 100%;
                padding: 10px;
                color: white;
                font-size: 16px;
                overflow: scroll;
            }
        }

    }
    ion-footer{
        div{
            background: url(../assets/imgs/button-bg.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            width: 64%;
            padding: 6px;
            color: white;
            text-align: center;
            display: block;
            margin: auto;
        }
    }
    
}
