// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content{
    background:url("../assets/imgs/bg.png");
    background-size: contain;
}

.red-button{
    background: url(../assets/imgs/popup-button-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 64%;
    padding: 6px;
    color: white;
}

body.keyboard-is-open ion-footer {
    display: none;
  }

  ion-fab {
    background-size: cover;
    bottom: 0px !important; 

  .fab{
    background-color: transparent;
    border-radius: 0px !important;
    top: 0px !important;
    width: 32px;
    height: 33px;
}
ion-fab-list {
    margin: 47px -61px !important;
    position: absolute;
    border-radius: 5px;
    color: white !important;
    width: -webkit-fill-available;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100px;

    span{
        color: color !important;
        text-align: center;
    }
    .fab-in-list{
        width: auto !important;
        color: black;
    }
    .fab-in-list.show{
        background: gray;
        border-radius: 20px !important;
    }
}
.fab-md {
     box-shadow: none !important;
 }
}


ion-footer{
    background: transparent !important;
    height: 65px;
    color: white !important;
    ion-item{
        background: transparent !important;   
        ion-thumbnail{
            min-width: 80px !important;
            min-height: 0px !important;
            img{
                width: 80px !important;
                height: auto !important;
            }
        }
        p{
            color: white !important;
            white-space: normal;
            font-weight: bold;
            width: 64%;
            font-size: 9px !important;
        }
    }
    .button{
        background: url(../assets/imgs/next-bg.png);
        height: 35px !important;
        width: 70px !important;
        background-size: 100% 100%;
        margin: 0px !important;

        span{
            width:71% !important;
            color: black;
            margin-right: 45% !important;
        }
        .nextIcon{
            background: url(../assets/imgs/next-icon.png);
            background-size: 100% 100%;
            height: 79%;
            position: absolute;
            width: 34%;
            left: 65%;
        }
    }
    
}
