page-process {
    ion-header{
        height: 50px;
        .img0{
            background-image: url(../assets/imgs/01-Step.png) ;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        .img1{
            background-image: url(../assets/imgs/02-Step.png) ;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        .img2{
            background-image: url(../assets/imgs/03-Step.png) ;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        .img3{
            background-image: url(../assets/imgs/04-Step.png) ;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        ion-grid{
            margin: 0px !important;
            padding: 0px !important;
            height: 100%;
            ion-row{
                height: 100%;
                display: flex !important;
                align-items: center;
                -webkit-box-shadow: 0px 16px 46px -12px rgba(0,0,0,0.74);
                -moz-box-shadow: 0px 16px 46px -12px rgba(0,0,0,0.74);
                box-shadow: 0px 16px 46px -12px rgba(0,0,0,0.74);
                ion-col{
                    color: white;
                    text-align: center;
                    position: relative;
                    font-size: 12px;
                }
            }
        }

        ion-navbar{
            .toolbar-background{
                background: url(../assets/imgs/back-button-bg.png) !important;
            }

            button{
                color: white !important;
            }
            .toolbar-title{
                color: white;
                font-size: 1.2rem !important;
                white-space: normal;           
            }
        }
       
    }

    ion-content{
        ion-slides {
         
            section {
                .mar-top{
                    margin-top: 10%;
                }
                .medImg{
                    height: 300px;
                    margin-top: 31px;
                    width: 100%;
                    
                    img{
                        width: 100%;                        
                    }
                }

            }
            ion-list-header{
                background: transparent !important;
                color:white !important;
                text-transform: none !important;
                font-size: 16px !important;
                ion-label{
                    white-space: pre-line !important;
                    color: white;
                    flex: none !important; 
                }
            }
            
            .inputCol {
                background: white !important;
                padding: 0px !important;
                border-radius: 5px;
                  .text-input::-webkit-input-placeholder {
                    color: black;
                  }
             }
             ion-row{
                 margin: 5%;
                 -webkit-box-shadow: 0px 16px 46px -12px rgba(0,0,0,0.74);
                 -moz-box-shadow: 0px 16px 46px -12px rgba(0,0,0,0.74);
                 box-shadow: 0px 16px 46px -12px rgba(0,0,0,0.74);
            ion-col{
                span{
                    color: white;
                    white-space: pre-line;
                }
                .btnRadio{
                    width: 28px;
                }
            }
        }
            .noticeBtn {
                background-image: url(../assets/imgs/button-bg.png);
                background-size: 100% 100%;
                max-width: 420px;
                margin-top: 30px;
                padding: 10px;
                font-size: 13px;
                color: white !important;
            }
            ion-item{
                background: transparent !important;
                color: white !important;  
                border-bottom: none !important;
                ion-label{
                    color: white !important;
                    span{
                        white-space: pre-line !important;
                    }
                }   
                ion-input{
                    background: white;
                    border-radius: 7px;
                    color: black;
                    position: relative;

                    .text-input::-webkit-input-placeholder {
                        color: black;
                        margin-top: 5px !important;

                        white-space: pre-line !important;
                        max-width: none !important;
                        font-size: 10px;
                    }
                } 
            }
           
          
        }
        .btnIcon{
            position: absolute;
            top: 93%;
            left: 86%;
            width: 37px;
        }
        .pillImage{
            img{
                height: 430px;
    width: 100%;
            }
        }
        .pillDiv{
            position: relative;
            background-size: contain;
            bottom: 26px;
           p{
            position: absolute;
            bottom: 8%;
            right: 70px;
            color: white;
            font-size: 13px;
           }
           img{
            width: 100%;
            height: 60px;
           }
           .button[icon-only]{
            position: absolute;
            bottom: 0%;
            color: white;
           }
        }
        ion-fab {
            span{
                color: white !important;
            }  
         ion-fab-list {
             color: white !important;
              
         }
        }
    }

    body.keyboard-open .has-footer{	
        bottom: 0;
        }
   

    .fix-img{
        width: 100% !important;
        height: 100% !important;
    }

    .slide0{
        height: auto !important;
    }
    .slide-any{
        height: 100% !important;
    }
    .slide0-margin{
        margin-top: 17%;
    }
}
