<!--
  Generated template for the ProcessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-grid [ngClass]="'img'+currentIndex">
    <ion-row>
      <ion-col col-3> {{ "PROCESS.PRODUCT_SOURCE" | translate }} </ion-col>
      <ion-col col-3> {{ "PROCESS.CODE_SCANNER" | translate }} </ion-col>
      <ion-col col-3>{{ "PROCESS.VALIDATE_PACKAGEING" | translate }}</ion-col>
      <ion-col col-3>{{ "PROCESS.COMPLETE_VALIDATEION" | translate }}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-navbar *ngIf="view == '2.3'">
    <ion-buttons icon-only clear left>
      <button ion-button (tap)="changeView('2.1')">
        <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="packageType == '5mg'">{{ "PROCESS.5MG_GUIDE" | translate }}</span>
      <span *ngIf="packageType == '20mg'">{{ "PROCESS.20MG_GUIDE" | translate }}</span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding no-bounce>

  <ion-slides (ionSlideDidChange)="slideChanged()" [ngClass]="{'slide0':currentIndex == 0, 'slide-any': currentIndex !=0}">
    <ion-slide>
      <ion-list no-lines class="slide0-margin">

        <ion-list-header no-lines class="headFirst">
          {{ "PROCESS.LABEL_SLIDE0" | translate }}
        </ion-list-header>

        <ion-item no-lines>
          <ion-avatar item-start (tap)="purchaseFrom = 'HOSPITAL'">
            <img [src]="purchaseFrom == 'HOSPITAL' ? 'assets/imgs/redio-button-click.png' : 'assets/imgs/redio-button-unclick.png'">
          </ion-avatar>
          <ion-label fixed>
            <span>{{ "PROCESS.HOSPITAL" | translate }}</span>
          </ion-label>
          <ion-input (focus)="focusit('HOSPITAL')" [(ngModel)]="purchaseFromDetail.HOSPITAL" type="text" [placeholder]=" 'PROCESS.INPUT_PLACEHOLDER' | translate "></ion-input>
        </ion-item>
        
        <ion-item no-lines (tap)="purchaseFrom = 'PHARMACY'">
          <ion-avatar item-start>
            <img [src]="purchaseFrom == 'PHARMACY' ? 'assets/imgs/redio-button-click.png' : 'assets/imgs/redio-button-unclick.png'">
          </ion-avatar>
          <ion-label fixed>
            <span>{{ "PROCESS.PHARMACY" | translate }}</span>
          </ion-label>
          <ion-input (focus)="focusit('PHARMACY')" [(ngModel)]="purchaseFromDetail.PHARMACY" type="text" [placeholder]=" 'PROCESS.INPUT_PLACEHOLDER' | translate"></ion-input>
        </ion-item>
        <ion-item no-lines (tap)="purchaseFrom = 'OTHER'">
          <ion-avatar item-start>
            <img [src]="purchaseFrom == 'OTHER' ? 'assets/imgs/redio-button-click.png' : 'assets/imgs/redio-button-unclick.png'">
          </ion-avatar>
          <ion-label fixed>
            <span>{{ "PROCESS.OTHER" | translate }}</span>
          </ion-label>
          <ion-input (focus)="focusit('OTHER')" [(ngModel)]="purchaseFromDetail.OTHER" type="text" [placeholder]=" 'PROCESS.INPUT_PLACEHOLDER' | translate"></ion-input>
        </ion-item>

      </ion-list>

      <div class="noticeBtn">
        <span [innerHTML]=" 'PROCESS.NOTICE' | translate "> </span>
      </div>
    </ion-slide>

    <ion-slide>
      <section *ngIf="view == '1.1'">
        <alert-view [text]="'ALERT_MSG.BARCODE_SCANNING_PROGRESS' | translate" [buttonText]="' '"></alert-view>
      </section>
      <section *ngIf="view == '1.2'">
        <alert-view [text]=" 'ALERT_MSG.SYSTEM_VALIDATION' | translate "></alert-view>
      </section>
      <section *ngIf="view == '1.s'">
        <alert-view [text]=" 'ALERT_MSG.CODE_VALIDATED' | translate " [buttonText]="'OK'" (buttonClick)="nextSlide()"></alert-view>

      </section>
      <section *ngIf="view == '1.e'">
        <alert-view [text]=" 'ALERT_MSG.PRODDUCT_AUTHENTICATION_FAILED' | translate " [buttonText]="'OK'" (buttonClick)="resetValidation()"></alert-view>

      </section>
      <section *ngIf="view == '1.ee'">
        <alert-view [text]=" 'ALERT_MSG.SYSTEM_ENCOUNTERED_ERROR' | translate " [buttonText]="'OK'" (buttonClick)="resetValidation()"></alert-view>
      </section>
    </ion-slide>

    <ion-slide>
      <section *ngIf="view == '2.1'">
        <ion-list radio-group [(ngModel)]="packageType" no-lines>
          <ion-list-header no-lines>
            {{ "PROCESS.LABEL_SLIDE1" | translate }}
          </ion-list-header>

          <ion-item no-lines (click)="packageType = '5mg'" no-lines>
            <ion-avatar item-start>
              <img [src]="packageType == '5mg' ? 'assets/imgs/redio-button-click.png' : 'assets/imgs/redio-button-unclick.png'">
            </ion-avatar>
            <ion-label>
              <span>{{ "PROCESS.5MG" | translate }}</span>
            </ion-label>
          </ion-item>

          <ion-item no-lines (click)="packageType = '20mg'" no-lines>
            <ion-avatar item-start>
              <img [src]="packageType == '20mg' ? 'assets/imgs/redio-button-click.png' : 'assets/imgs/redio-button-unclick.png'">
            </ion-avatar>
            <ion-label>
              <span>{{ "PROCESS.20MG" | translate }}</span>
            </ion-label>
          </ion-item>
        </ion-list>
      </section>

      <section *ngIf="view == '2.2'">
        <alert-view [text]="  'ALERT_MSG.VALIDATION_IMAGE' | translate " [buttonText]="'OK'" (buttonClick)="getImg(packageType)"></alert-view>
      </section>

      <section *ngIf="view == '2.3'">
        <div class="medImg">
          <img [src]="medImgURL">
        </div>
        <div class="noticeBtn">
          <span [innerHTML]=" 'PROCESS.NOTICE' | translate "> </span>
        </div>
      </section>
      <section *ngIf="view == '2.4'">
        <ion-list no-lines>
          <ion-list-header no-lines>
            {{ "PROCESS.LABEL_SLIDE2" | translate }}
          </ion-list-header>

          <ion-item no-lines (click)="verificationResult = 'ALL'">
            <ion-avatar item-start>
              <img [src]="verificationResult == 'ALL' ? 'assets/imgs/redio-button-click.png' : 'assets/imgs/redio-button-unclick.png'">
            </ion-avatar>
            <ion-label>
              <span>{{ "PROCESS.ALL_CHECKPOINT" | translate }}</span>
            </ion-label>
          </ion-item>

          <ion-item no-lines (click)="verificationResult = 'SOME'">
            <ion-avatar item-start>
              <img [src]="verificationResult == 'SOME' ? 'assets/imgs/redio-button-click.png' : 'assets/imgs/redio-button-unclick.png'">
            </ion-avatar>
            <ion-label>
              <span>{{ "PROCESS.SOME" | translate }}</span>
            </ion-label>
          </ion-item>

          <ion-item no-lines (click)="verificationResult = 'NOT_SURE'">
            <ion-avatar item-start>
              <img [src]="verificationResult == 'NOT_SURE' ? 'assets/imgs/redio-button-click.png' : 'assets/imgs/redio-button-unclick.png'">
            </ion-avatar>
            <ion-label>
              <span>{{ "PROCESS.NOT_SURE" | translate }} </span>
            </ion-label>
          </ion-item>
        </ion-list>
      </section>
      <section *ngIf="view == '2.6'">
        <alert-view [text]="'ALERT_MSG.CALL_CENTER' | translate" [buttonText]="'OK'" (buttonClick)="this.nextSlide()"></alert-view>
      </section>
      <section *ngIf="view == '2.5'">
        <alert-view [text]="'ALERT_MSG.AUTHENTICATION_PASSED' | translate" [buttonText]="'OK'" (buttonClick)="this.nextSlide()"></alert-view>
      </section>
    </ion-slide>

    <ion-slide>
      <section *ngIf="view == '3.1'">
        <alert-view [text]="'ALERT_MSG.CONFIRMATION_DATA_SENT' | translate" [buttonText]="' '"></alert-view>
      </section>
      <section *ngIf="view == '3.s'">
        <alert-view [text]=" 'ALERT_MSG.DETIALS_SEND' | translate " [buttonText]="'ALERT_MSG.VALIDATE_NEXT' | translate" (buttonClick)="resetValidation()"></alert-view>
      </section>
      <section *ngIf="view == '3.e'">
        <alert-view [text]="'Validation details send Error'" [buttonText]="'ALERT_MSG.VALIDATE_NEXT' | translate" (buttonClick)="resetValidation()"></alert-view>
      </section>

    </ion-slide>

  </ion-slides>

  <ion-fab right bottom #fab>
    <img ion-fab src="assets/imgs/menu.png">
    <span>{{ "FABMENU.LABEL" | translate }}</span>
    <ion-fab-list side="top">
      <button ion-fab (click)="fabButton.showPrivacy(fab)">
        <ion-label>{{ "ALERT_MSG.PRIVACY_CONTENT" | translate }}</ion-label>
      </button>
      <button ion-fab (click)="fabButton.showContact(fab)">
        <ion-label>{{ "ALERT_MSG.CONTACT_INFORMATION" | translate }}</ion-label>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>


<ion-footer no-border>
  <ion-item no-lines>
    <ion-thumbnail item-start>
      <img src="assets/imgs/lilly-logo.png">
    </ion-thumbnail>
    <p> {{ "FOOTER.ADDRESS" | translate }} </p>
    <button ion-button clear item-end (click)="nextSlide()" *ngIf=" currentIndex == 0 && purchaseFrom != '' ">
      <span>{{ "PROCESS.NEXT" | translate }}</span>
      <div class="nextIcon"></div>
    </button>

    <button ion-button clear item-end (click)="changeView('2.2')" *ngIf="view == '2.1' && packageType != '' ">
      <span>{{ "PROCESS.NEXT" | translate }}</span>
      <div class="nextIcon"></div>
    </button>

    <button ion-button clear item-end (click)="changeView('2.4')" *ngIf="view == '2.3'">
      <span>{{ "PROCESS.NEXT" | translate }}</span>
      <div class="nextIcon"></div>
    </button>

    <button ion-button clear item-end (click)="verificationCheck(verificationResult)" *ngIf="view == '2.4' && verificationResult !=''">
      <span>{{ "PROCESS.NEXT" | translate }}</span>
      <div class="nextIcon"></div>
    </button>
  </ion-item>
</ion-footer>