<!--
  Generated template for the ProcessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-grid [ngClass]="'img'+currentIndex">


    <ion-row>
      <ion-col col-3>Product Source</ion-col>
      <ion-col col-3>Code Scanner</ion-col>
      <ion-col col-3>Validate Packaging</ion-col>
      <ion-col col-3>Complete Validation</ion-col>
    </ion-row>
  </ion-grid>
  <ion-navbar *ngIf="view == '2.3'">
    <ion-buttons icon-only clear left>
      <button ion-button (tap)="changeView('2.1')">
        <ion-icon name="arrow-back" large></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="packageType == '5mg'">Cialis 5mg Package Authentication Guide</span>
      <span *ngIf="packageType == '20mg'">Cialis 20mg Package Authentication Guide</span>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding no-bounce>
  <ion-slides (ionSlideDidChange)="slideChanged()" [ngClass]="{'slide0':currentIndex == 0, 'slide-any': currentIndex !=0}">
    <ion-slide>
      <ion-list no-lines class="slide0-margin">
        <ion-list-header no-lines>
          Cialis purchased from :
        </ion-list-header>
        <ion-item no-lines (tap)="purchaseFrom = 'HOSPITAL'">
          <ion-avatar item-start>
            <img [src]="purchaseFrom == 'HOSPITAL' ? 'assets/imgs/redio-button-click.png' : 'assets/imgs/redio-button-unclick.png'">
          </ion-avatar>
          <ion-label fixed>
            <span>Hospital</span>
          </ion-label>
          <ion-input [(ngModel)]="purchaseFromDetail.HOSPITAL" type="text" placeholder="Please enter the name of the establishment (optional)"></ion-input>
        </ion-item>
        <ion-item no-lines (tap)="purchaseFrom = 'PHARMACY'">
          <ion-avatar item-start>
            <img [src]="purchaseFrom == 'PHARMACY' ? 'assets/imgs/redio-button-click.png' : 'assets/imgs/redio-button-unclick.png'">
          </ion-avatar>
          <ion-label fixed>
            <span>Pharmacy</span>
          </ion-label>
          <ion-input [(ngModel)]="purchaseFromDetail.PHARMACY" type="text" placeholder="Please enter the name of the establishment (optional)"></ion-input>
        </ion-item>
        <ion-item no-lines (tap)="purchaseFrom = 'OTHER'">
          <ion-avatar item-start>
            <img [src]="purchaseFrom == 'OTHER' ? 'assets/imgs/redio-button-click.png' : 'assets/imgs/redio-button-unclick.png'">
          </ion-avatar>
          <ion-label fixed>
            <span>Other</span>
          </ion-label>
          <ion-input [(ngModel)]="purchaseFromDetail.OTHER" type="text" placeholder="Please enter the name of the establishment (optional)"></ion-input>
        </ion-item>
      </ion-list>

      <div class="noticeBtn" tappable (click)="nextSlide()">
        Notice!
        <br>Cialis is not distributed and sold in online shops.
      </div>
    </ion-slide>

    <ion-slide>
      <section *ngIf="view == '1.1'">
        <alert-view [text]="'Barcode Scanning in progress...'" [buttonText]="' '" ></alert-view>
      </section>
      <section *ngIf="view == '1.2'">
        <alert-view [text]="'One moment…<br>System Validation In Progress…'" [buttonText]="'OK'" (buttonClick)="changeView('1.3')"></alert-view>
        <!-- <alert-view [text]="'One moment…<br>System Validation In Progress…'"></alert-view> -->
      </section>
      <section *ngIf="view == '1.3'">
        <alert-view [text]="resText" [buttonText]="'OK'" (buttonClick)="nextSlide()"></alert-view>
        
      </section>
      <section *ngIf="view == '1.4'">
        <alert-view [text]="resText" [buttonText]="'OK'" (buttonClick)="resetValidation()"></alert-view>
      </section>
    </ion-slide>

    <ion-slide>
      <section *ngIf="view == '2.1'">
        <ion-list radio-group [(ngModel)]="packageType" no-lines>
          <ion-list-header no-lines>
            Choose the type of Cialis packaging for further validation:
          </ion-list-header>

          <ion-item no-lines (click)="packageType = '5mg'">
            <ion-avatar item-start>
              <img [src]="packageType == '5mg' ? 'assets/imgs/redio-button-click.png' : 'assets/imgs/redio-button-unclick.png'">
            </ion-avatar>
            <ion-label>
              <span>Cialis 5mg</span>
            </ion-label>
          </ion-item>

          <ion-item no-lines (click)="packageType = '20mg'">
            <ion-avatar item-start>
              <img [src]="packageType == '20mg' ? 'assets/imgs/redio-button-click.png' : 'assets/imgs/redio-button-unclick.png'">
            </ion-avatar>
            <ion-label>
              <span>Cialis 20mg</span>
            </ion-label>
          </ion-item>
        </ion-list>
        <div (click)="changeView('2.2')" class="noticeBtn" tappable>
            Next 
        </div>
      </section>

      <section *ngIf="view == '2.2'">
        <alert-view [text]="'Please follow the product validation image guide presented to verify the packaging.'" [buttonText]="'OK'"
          (buttonClick)="getImg(packageType)"></alert-view>
      </section>

      <section *ngIf="view == '2.3'">
        <!-- <img *ngIf="packageType == '5mg'" src="assets/imgs/pill5.png" >
          <img *ngIf="packageType == '20mg'" src="assets/imgs/pill20.png" > -->
        <img [src]="medImgURL">

        <div class="noticeBtn" tappable (click)="changeView('2.4')">
          Notice!
          <br> Cialis is not distributed and sold in online shops.
        </div>
      </section>
      <section *ngIf="view == '2.4'">
        <ion-list no-lines>
          <ion-list-header>
            Package verification result:
          </ion-list-header>

          <ion-item no-lines (click)="verificationResult = 'ALL'">
            <ion-avatar item-start>
              <img [src]="verificationResult == 'ALL' ? 'assets/imgs/redio-button-click.png' : 'assets/imgs/redio-button-unclick.png'">
            </ion-avatar>
            <ion-label>
              <span>All checkpoint passed</span>
            </ion-label>
          </ion-item>

          <ion-item no-lines (click)="verificationResult = 'SOME'">
            <ion-avatar item-start>
              <img [src]="verificationResult == 'SOME' ? 'assets/imgs/redio-button-click.png' : 'assets/imgs/redio-button-unclick.png'">
            </ion-avatar>
            <ion-label>
              <span>Some didn’t match correctly</span>
            </ion-label>
          </ion-item>

          <ion-item no-lines (click)="verificationResult = 'NOT_SURE'">
            <ion-avatar item-start>
              <img [src]="verificationResult == 'NOT_SURE' ? 'assets/imgs/redio-button-click.png' : 'assets/imgs/redio-button-unclick.png'">
            </ion-avatar>
            <ion-label>
              <span>Not sure if the package validation matches the guide </span>
            </ion-label>
          </ion-item>
        </ion-list>
        <div (click)="verificationCheck(verificationResult)" class="noticeBtn" tappable>
            Next 
        </div>
      </section>
      <section *ngIf="view == '2.5'">
        <alert-view [text]="'Authentication Passed.!<br>Product is confirmed to be distributed by Lilly Taiwan.'" [buttonText]="'OK'"
          (buttonClick)="this.nextSlide();"></alert-view>
      </section>
    </ion-slide>

    <ion-slide>
      <section *ngIf="view == '3.1'">
        <alert-view [text]="'Sending data to server..'" [buttonText]="' '" ></alert-view>
      </section>
      <section *ngIf="view == '3.s'">
          <alert-view [text]="'Validation details send for record keeping. '" [buttonText]="'Validate next product'" (buttonClick)="resetValidation()"></alert-view>
      </section>
      <section *ngIf="view == '3.e'">
        <alert-view [text]="'Validation details send Error'"  [buttonText]="'Validate next product'" (buttonClick)="resetValidation()"></alert-view>
      </section>

    </ion-slide>

  </ion-slides>

  <div class="btnIcon" *ngIf="view == '2.1' || view == '2.4'">
    <img src="assets/imgs/menu.png">
  </div>
</ion-content>

<ion-footer no-border>
  <ion-item>
    <ion-thumbnail item-start>
      <img src="assets/imgs/lilly-logo.png">
    </ion-thumbnail>
    <p> 聯絡我們\n歡迎您寶貴的意見, 禮來公司關心您的健康。台北市復興北路365號11樓\n電話： (02)27152950</p>
  </ion-item>
</ion-footer>